* {
  margin: 0%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100svh;
  background-color: rgb(208, 218, 207);
}

article {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 20px;
  border: solid 2px black;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

nav {
  background-color: rgb(55, 151, 42);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.7;
}

a:hover,
a:focus {
  color: rgb(255, 255, 255);
  font-size: 50px;
  transform: rotate(360deg);
}
